<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div *ngIf="isNamed">
      <mat-card>
        <h2>Questions</h2>
        <input type="text" (change)="setQuestion($event)" />
        <div class="questions-container">
          <div
            *ngFor="let question of questions; let i = index"
            class="question-unit"
          >
            <p class="question-text">{{ question }}</p>
            <button
              mat-button
              style="margin-left: auto;"
              (click)="removeQuestion(i)"
            >
              Delete
            </button>
          </div>
        </div>
        <button mat-raised-button (click)="addQuestion()">Add Question</button>
      </mat-card>
      <button mat-raised-button (click)="submit()">Submit</button>
    </div>

    <div *ngIf="!isNamed">
      <mat-form-field class="example-full-width">
        <mat-label>Name Your Poll</mat-label>
        <input matInput (change)="setName($event)" />
      </mat-form-field>
      <button mat-raised-button (click)="continueToQuestions()">
        Continue To Questions
      </button>
    </div>
  </div>
</div>
